{% extends "base.html" %} 
{% block title %}
 FORM 
 {% endblock %} 
 {% block content%}
 <a href="/file">
  <button>Create Log txt</button>
</a>
<h1>FORM!</h1>
<div class="row">
  <div class="col-md-5">
    <form method="POST" action="{{ url_for('form') }}">
      <label for="full_name">full_name</label>
      <p><input type="text" name="full_name" id="full_name" /></p>
      <label for="email">email</label>
      <p><input type="email" name="email" id="email" /></p>
      <label for="city">city</label>
      <p><input type="text" name="city" id="city" /></p>
      <input type="submit" value="Save" />
    </form>
  </div>

</div>
{% endblock %}
